<div th:replace="shared/header"></div>
    <!-- Begin Page Content -->
    <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Colaboradores</h1>
                    <p class="mb-4">Lista dos Colaboradores.</p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <a href="colaboradores/new" class="btn btn-primary" style="margin-right: 20px; width: 200px;">Novo</a>
                            <h6 class="m-0 font-weight-bold text-primary" style="display: inline-block; text-transform: uppercase;">Lista de colaborador</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nome</th>
                                            <th>CPF</th>
                                            <th>E-mail</th>
                                            <th>Telefone</th>
                                            <th>Setor</th>
                                            <th>Gestor</th>
                                            <th>Cargo/Função</th>
                                            <th>Observações</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nome</th>
                                            <th>CPF</th>
                                            <th>E-mail</th>
                                            <th>Telefone</th>
                                            <th>Setor</th>
                                            <th>Gestor</th>
                                            <th>Cargo/Função</th>
                                            <th>Observações</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr th:each="colaborador : ${colaboradores}">
                                            <td th:text="${colaborador.id}"></td>
                                            <td th:text="${colaborador.nomecompleto}"></td>
                                            <td th:text="${colaborador.cpf}"></td>
                                            <td th:text="${colaborador.email}"></td>
                                            <td th:text="${colaborador.telefone}"></td>
                                            <td th:text="${colaborador.setor}"></td>
                                            <td th:text="${colaborador.gestor}"></td>
                                            <td th:text="${colaborador.cargo}"></td>
                                            <td th:text="${colaborador.observacao}"></td>
                                            <td><a th:href="@{'/colaboradores/' + ${colaborador.id}}" class="btn btn-warning">Alterar</a></td>
                                            <td><a href="#" th:onclick="'if(confirm(\'Confirmar ?\')) { window.location.href = \'' + @{/colaboradores/{id}(id=${colaborador.id})} + '/delete\'}'" class="btn btn-danger">Excluir</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
    <!-- /.container-fluid -->
<div th:replace="shared/footer"></div>