<div th:replace="shared/header"></div>
    <!-- Begin Page Content -->
    <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Novo Administrador</h1>
                    <p class="mb-4">Cadastro de novo administrador.</p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4" style="padding: 30px">
                        <form method="POST" action="/administradores/create" onsubmit="return validatePassword() && confirm('Confirma ação?')">
                            <div class="form-group">
                                <label for="nome">Nome</label>
                                <input type="text" class="form-control" required id="nome" name="nome" placeholder="Nome e Sobrenome">
                            </div>
                            <div class="form-group">
                                <label for="email">E-mail</label>
                                <input type="email" class="form-control" required id="email" name="email" placeholder="E-mail">
                            </div>
                            <div class="form-group">
                                <label for="senha">Senha</label>
                                <input type="password" class="form-control" required id="senha" name="senha" placeholder="Informe uma senha">
                            </div>
                            <div class="form-group">
                                <label for="usuario">Tipo de Usuário</label>
                                <select class="form-control" id="usuario" name="usuario">
                                    <option value="Usuário">Usuário</option>
                                    <option value="Administrador">Administrador</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="observacao">Observações</label>
                                <textarea class="form-control" id="observacao" name="observacao" placeholder="Observações"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Enviar</button>
                            <button type="button" class="btn btn-dark" onclick="if(confirm('Deseja realmente sair?')){window.location.href='/administradores'}">Cancelar</button>
                        </form>
                    </div>
                </div>
    <!-- /.container-fluid -->
<div th:replace="shared/footer"></div>